<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Update task</title>
    <link rel="stylesheet" th:href="@{/css/tasks/edit.css}"/>
  </head>
  <body>

    <div class="form__group">
      <form th:method="PATCH" th:action="@{/tasks/{id}(id=${task.getId()})}" th:object="${task}">
        <p style="color: red" th:if="${#fields.hasErrors('priority')}" th:errors="*{priority}">priority error</p>
        <label for="priority" class="form__label">Priority: </label>
        <input type="range" min="1" max="10" th:field="*{priority}" id="priority"/> <br> <br>

        <p style="color: red; font-size: 1.5rem" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error</p>
        <!--        <label for="name">Name: </label>-->
        <input class="form__input" type="text" placeholder="Name" th:field="*{name}" id="name"/> <br> <br>

        <p style="color: red; font-size: 1.5rem" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">description error</p>
        <!--        <label for="description">Description: </label>-->
        <textarea class="form__input" cols="40" rows="10" type="text" placeholder="Description" th:field="*{description}" id="description"> </textarea> <br> <br>

        <p style="color: red" th:if="${#fields.hasErrors('deadline')}" th:errors="*{deadline}">deadline error</p>
        <label class="form__label" for="deadline">Deadline: </label>
        <input style="font-size: 1.5rem" type="date" th:field="*{deadline}" id="deadline"/> <br> <br>

        <input class="button-15" role="button" style="margin-top: 1%" type="submit" value="Update!">
      </form>
    </div>
  </body>
</html>