<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head>
    <meta charset="UTF-8">
    <title>All tasks</title>
    <link rel="stylesheet" th:href="@{/css/tasks/index.css}"/>
  </head>
  <body>

  <div class="todo-header">
      <div style="text-align: left; width: 20%" sec:authorize="isAuthenticated()">
        <span sec:authentication="name"></span>
      </div>

    <div style="position: absolute; margin-top: -2%; margin-left: 85%;">
      <form th:action="@{/logout}" method="post">
        <input class="button-15" role="button" type="submit" value="Sign Out"/>
      </form>
    </div>
  </div>

  <div class="todo-header">
    <h1>ToDo List</h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-white">
          <div class="card-body">
            <div class="todo-list" th:each="task : ${tasks}">
              <div class="todo-item">
                <a th:href="@{/tasks/{id}/edit(id=${task.getId()})}" th:text="${task.getName()}">user</a>
              </div>
            </div>
            <a href="/tasks/new">
              <button class="button-15" role="button">Create new task</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>


  </body>
</html>