<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>New task</title>
    <link rel="stylesheet" th:href="@{/css/tasks/new.css}"/>
  </head>
  <body>

    <form th:method="POST" th:action="@{/tasks}" th:object="${task}">

      <p style="color: red" th:if="${#fields.hasErrors('priority')}" th:errors="*{priority}">priority error</p>
      <label for="priority">priority: </label>
      <input type="text" th:field="*{priority}" id="priority"/> <br>

      <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error</p>
      <label for="name">Your name: </label>
      <input type="text" th:field="*{name}" id="name"/> <br>

      <p style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">description error</p>
      <label for="description">Description: </label>
      <input type="text" th:field="*{description}" id="description"/> <br>

      <p style="color: red" th:if="${#fields.hasErrors('deadline')}" th:errors="*{deadline}">deadline error</p>
      <label for="deadline">Deadline: </label>
      <input type="text" th:field="*{deadline}" id="deadline"/> <br>

      <input style="margin-top: 1%" type="submit" value="Create!">
    </form>

  </body>
</html>